<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<!-- <form role="form" action="/auth/local/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign up</button>
</form> -->

<div class="container">
    <form role="form" class="form-signin" method="post" action="/auth/local/register">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input name="username" type="text" class="input-block-level" placeholder="Username"z>
      <input name="email" type="text" class="input-block-level" placeholder="Email">
      <input name="password" type="password" class="input-block-level" placeholder="Password">
      <button class="btn btn-large btn-primary" type="submit">Sign up</button>
    </form>
</div> <!-- /container -->
