<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css" rel="stylesheet">
<!-- Open Sans Font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/styles/webclient_style.css" >
<!-- Sails Socket Dependancy -->
<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
<!-- Angular Js  -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="app/navbar/navbar.js"></script>
<script type="text/javascript" src="app/chat/chat.js"></script>



<script>
(function() {
	var app = angular.module('chat', ['navbar-directive', 'chat-directive']);
})();
</script>
<div ng-app="chat">
	<navbar title="Chat" context="CTX_CHAT"></navbar>

	<chat group="1" user="1"></chat>

</div>
</html>
