<!DOCTYPE html>
<html>
<head>
	<title>Leet Chat Web</title>
	<!-- BootSwatch Paper Theme for Bootstrap -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css" rel="stylesheet">
	<!-- Open Sans Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/styles/profile_style.css" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body ng-app="profile">
	<!-- Sails Socket Dependancy -->
	<script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
	<!-- Angular Js  -->
	<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>-->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="app/navbar/navbar.js"></script>
	<script type="text/javascript" src="app/profile/profile.js"></script>


	<!-- JUST FOR TESTING. REMOVE THIS -->
	<script>
		(function() {
			var app = angular.module('profile', ['navbar-directive', 'profile-directive']);
		})();
	</script>

	<navbar title="Profile"></navbar>

	<profile 	username="<%= myName%>"
						description="some description"
						groups="<%= JSON.stringify(conversations)%>">
	</profile>

</body>
</html>
