<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button ng-click="toggleSidebar()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">{{pagename}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="toggleSidebar()"><span class="glyphicon glyphicon-menu-hamburger"></span> Menu</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">

    <!-- Global context -->
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="">Global</a>
      </li>
      <li>
        <a href="">Some global button</a>
      </li>
    </ul>

    <hr class="navbar-divider">

    <!-- CTX_PROFILE - Profile context -->
    <ul ng-show="context == 'CTX_PROFILE'" class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Profile Navbar
        </a>
      </li>
      <li>
        <a href="#" ng-click="addFriendToggle = !addFriendToggle">Add friend <span ng-show="!addFriendToggle" class="glyphicon glyphicon-chevron-right"></span><span ng-show="addFriendToggle" class="glyphicon glyphicon-chevron-down"></span></a>
        <form ng-show="addFriendToggle">
          <input type="email">
          <button type="submit">OK</button>
        </form>
      </li>
    </ul>

    <!-- CTX_CHAT - Chat context -->
    <ul ng-show="context == 'CTX_CHAT'" class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          Chat Navbar
        </a>
      </li>
      <li>
        <a href="#">I don't even</a>
      </li>
    </ul>
  </div>
</div>

<style>
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
    //position: absolute;
    //top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.navbar-divider {
  margin-left:10px;
  margin-right: 10px;
}
</style>
