body{
		background: #ededed;
		font-family: 'Open Sans', sans-serif;
		padding-top:45px;
}

.nopadding {
	padding:0px;
}

.navbar {
	min-height: 40px;
}

.chatMessageContainer {
	padding-bottom: 30px;
	padding-top:10px;
}
