  <!-- Login container -->
  <div class="container">
    <h2>Log in</h2>
    <form method="post" action="/auth/local/login">
      <div class="form-group">
        <label for="loginId">Username or Email</label>
        <input name="identifier" type="email | text" class="form-control" id="loginId" placeholder="Username/Email" required>
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input name="password" type="password" class="form-control" id="loginPassword" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-success">Login</button>
    </form>
    <h3>Don't have an account?</h3>
    <!--<a href="/auth/google"><button class="btn btn-success signinwithgooglebutton"><i class="fa fa-google"></i> Sign in with Google</button></a>-->
    <a href="/auth/google" role="button"><img class="center-block" src="/images/sign-in-with-google.png"></a>
    <h3>or</h3>
    <button class="btn btn-success center-block" id="registerButton">Register</button>
  </div>

  <!-- Registration container -->
  <div class="container" id="register">
    <h3>Register new account</h3>
    <form method="post" action="/auth/local/register">
      <div class="form-group">
        <label for="registerName">Username</label>
        <input name="username" type="text" class="form-control" id="registerName" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="registerEmail">Email</label>
        <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Password" pattern="^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d).*$" required>
      </div>
      <button type="submit" class="btn btn-success">Register</button>
    </form>
  </div>

  <script>
    $(document).ready(function(){
      $("#register").hide();
      $("#registerButton").click(function(){
          $("#register").hide();
          $("#registerButton").hide();
      });
      $("#registerButton").click(function(){
          $("#register").show();
          $("body").animate({ scrollTop: $('body')[0].scrollHeight}, 1000);
      });
    });
  </script>
